{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if lasted_question_list %}
    <ul>
        {% for question in lasted_question_list %}
            <li>
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}