<p>
    <h2> {{ question.question_text }} </h2>
    <hr>
    {% for choice in question.choice_set.all %}
        <h3>{{ choice.choice_text }} votes: {{ choice.votes }}</h3>
    {% endfor %}

    <a href="{% url 'polls:detail' question.id%}">Volver a votar</a>
</p>