<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'posts:search' %}">Buscar</a>
    <h4>Esto es para confirmar los merge request</h4>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}
        {{ form }}
        <button type="submit">Save</button>
    </form>
    <div class="container">
        <h3>Posts</h3>
        <ul>
            {% for post in posts %}
                <li>{{ post.title }}</li>
                <li>{{ post.body }}</li>
                <hr>
            {% endfor %}
        </ul>
    </div>
</body>
</html>