<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if result %}
        {{ result.title }}
        {{ result.body }}
    {% else %}
        <p>No hay recursos con esas especifiacioens</p>
    {% endif %}
</body>
</html>