<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>
    <form method="post" action="{% url 'posts:search' %}">
        {% csrf_token %}
        <input type="text" name="title" placeholder="buscar por titulo">
        <button type="submit">Buscar</button>
    </form>
    <div class="container">
        {% if result %}
            <ul>
                <li>Titulo: {{ result.title }}</li>
                <li>Extracto: {{ result.body }}</li>
                <li>Autor: {{ result.author }}</li>
                <li>Año: {{ result.year }}</li>
                {% if result.available %}
                    <li style="color:green"> Disponible </li>
                {% else %}
                    <li style="color:red"> No disponibke </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</body>
</html>